@import 'variables';
@import 'functions';
@import 'mixins';

/* ==========================================================================
   OBJECTS
   ========================================================================== */

/* WRAPPER
   ========================================================================== */
@mixin o-wrapper {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}





/* BOX
   ========================================================================== */
@mixin o-box {
  border-radius: spacing(1/2);
  padding: spacing(1);
}





/* GRID
   ========================================================================== */
@mixin o-grid {
  display: grid;
  grid-gap: spacing(1);
  justify-content: center;
  width: 100%;
  margin: 0;
}





/* BUTTON
   ========================================================================== */
@mixin o-btn {
  display: block;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: spacing(1/3) spacing(1/2);
  @include font-scale(-2);
  @include line-scale(0);
  font-family: $font-family-heading;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  @include transition(short);

  @include media-query(medium) {
    display: inline-block;
  }

  &:hover {
    text-decoration: none;
  }



  &.--block {
    display: block;
    width: 100%;
  }



  &.--large {
    padding: spacing(1/2) spacing(1);
    @include font-scale(0);
  }
}





/* INPUTS
   ========================================================================== */
@mixin o-input-text {
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: spacing(1/6);
  padding: spacing(1/2);
  @include type-scale(2);
  @include transition(short);
}





/* MEDIA OBJECT
   ========================================================================== */
@mixin o-media {
  display: grid;
  grid-template-columns: spacing(2) auto;
  grid-gap: spacing(1/2);
}
